* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg-main: rgb(254, 250, 242);
    --color-bg-secondary: rgb(246, 240, 230);
    --color-table-hightlight: rgb(222, 215, 202);
}

html,
body {
    font-family: 'Roboto Flex', sans-serif;
    color: #1a1a1a;
    scroll-behavior: smooth;
}

section {
    padding: 88px 0;
}

.container {
    margin: 0 auto;
    max-width: 1020px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(1em + 8px);
    letter-spacing: 0px;
    color: #1a1a1a;
}

.up-case {
    text-transform: uppercase;
    font-stretch: condensed;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 12px 24px;
    cursor: pointer;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

body.no-scroll {
    overflow: hidden;
}

textarea {
    padding: 12px;
    border-radius: 12px;
    font-size: 16px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    background-color: var(--color-bg-secondary);
    min-height: 100px;
    max-height: 350px;
    resize: vertical;
}

input {
    padding: 0 12px;
    border-radius: 12px;
    height: 48px;
    font-size: 16px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    background-color: var(--color-bg-secondary);
}

input:focus {
    outline: 2px solid black;
}

input:hover {
    border-color: black;
    background-color: var(--color-bg-main);
}

input.touched:invalid {
    border-color: #dc3545;
    outline-color: #dc3545;
    background-color: #f1d0d3;
}

input.touched:invalid+.wn-mess {
    display: block;
}

.wn-mess {
    display: none;
    color: red;
    text-align: start;
}