* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg-main: rgb(254, 250, 242);
    --color-bg-secondary: rgb(246, 240, 230);
    --color-table-hightlight: rgb(222, 215, 202);

    --text-color: black;
    --text-contrast-color: white;

    --btn-bg-default: #9a4497;
    --btn-text-default: white;
    --btn-bg-hover: black;
    --btn-text-hover: white;
    --btn-border-transbg: black;
    --btn-focus: transparent;

    --pop-bg: black;
    --pop-text: white;

    --tag-color: rgb(212, 244, 121);
}

/* :root {
    --color-bg-main: #f0fdf4;
    --color-bg-secondary: #dcfce7;
    --color-table-hightlight: #bbf7d0;

    --text-color: #0f172a;
    --text-contrast-color: white;

    --btn-bg-default: #22c55e;
    --btn-text-default: white;
    --btn-bg-hover: #15803d;
    --btn-text-hover: white;
    --btn-border-transbg: #166534;
    --btn-focus: #4ade80;
    --pop-bg: #064e3b;
    --pop-text: white;

    --tag-color: #86efac;
} */

/* :root {
    --color-bg-main: #f5f3ff;
    --text-color: #1e1b4b;
    --text-contrast-color: white;

    --color-bg-secondary: #ede9fe;
    --color-table-hightlight: #ddd6fe;

    --btn-bg-default: #7c3aed;
    --btn-text-default: white;
    --btn-bg-hover: #2e28d9;
    --btn-text-hover: white;
    --btn-border-transbg: #5b21b6;
    --btn-focus: #c4b5fd;

    --pop-bg: #4c1d95;
    --pop-text: white;

    --tag-color: #e9d5ff;
} */


html,
body {
    font-family: 'Roboto Flex', sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

section {
    padding: 88px 10px;
}

.container {
    margin: 0 auto;
    max-width: 1020px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(1em + 8px);
    letter-spacing: 0px;
    color: var(--text-color);
}

.up-case {
    text-transform: uppercase;
    font-stretch: condensed;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 12px 24px;
    cursor: pointer;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

body.no-scroll {
    overflow: hidden;
}

select {
    padding: 0 12px;
    padding-right: 32px;
    border-radius: 12px;
    height: 48px;
    font-size: 16px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    background-color: var(--color-bg-secondary);
}

textarea {
    padding: 12px;
    border-radius: 12px;
    font-size: 16px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    background-color: var(--color-bg-secondary);
    min-height: 100px;
    max-height: 350px;
    resize: vertical;
}

input {
    padding: 0 12px;
    border-radius: 12px;
    height: 48px;
    font-size: 16px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    background-color: var(--color-bg-secondary);
}

input:focus {
    outline: 2px solid black;
}

input:hover {
    border-color: black;
    background-color: var(--color-bg-main);
}

input.touched:invalid {
    border-color: #dc3545;
    outline-color: #dc3545;
    background-color: #f1d0d3;
}

input.touched:invalid+.wn-mess {
    display: block;
}

.wn-mess {
    display: none;
    color: red;
    text-align: start;
}

button:active {
    background-color: var(--btn-focus);
}