@media (max-width: 428px) {
    .hero-content {
        flex-direction: column;
        gap: 12px;
    }

    .hero-nav {
        margin: 0 12px;
        gap: 0;
    }

    .cta-banner {
        padding: 48px 0;
        flex-direction: column;
        max-height: fit-content;
    }

    .cta-banner>* {
        width: 90%;
    }

    .add-on-item {
        flex: 1;
        max-width: 100%;
    }

    .faq-wrapper>.text {
        width: 100%;
    }
}